.navigation-wrapper {
	height: 25px;
	background-color: #11122b;
	/*flexbox container*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
}
/*left column styles*/
.navigation-wrapper > .left-column {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navigation-wrapper > .left-column > .banner-image {
	display: flex;
	justify-content: center;
}
.navigation-wrapper > .left-column > .banner-image img {
	 width: 100px;
	 height: 100%;
	 opacity: 0.5;
}
.links-wrapper { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.links-wrapper > .nav-link { 
	width: 70px;
	text-align: center;
}
.links-wrapper > .nav-link a { 
	font-family: 'Ubuntu Condensed', sans-serif; 
	color: #cbcbcb;
	text-decoration: none;
	transition: 0.5s;
}
.links-wrapper > .nav-link a:hover {
	color: #cea135;
	letter-spacing: 2px;
}
.Spark-dropdown-wrapper {
	font-family: 'Ubuntu Condensed', sans-serif; 
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*right column styles*/
.navigation-wrapper > .right-column {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navigation-wrapper > .right-column > .search{
	margin: 10px;
	color: #cbcbcb;
}